<div class="container">
  <div class="category">
    <mat-chip-list>
      <mat-chip *ngFor="let cat of categoryLink; let idx = index" [queryParams]="{category: cat}"
                [routerLink]="'/products'" class="category-link">
        {{cat}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="product">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile rowspan="3">
        <img class="product" src="{{product?.imagePath}}">
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="container-row title">
          <p class="name">{{product?.name}}</p>
          By
          <a [queryParams]="{vendor: product?.user?.userName}" [routerLink]="['/products']">
            {{product?.user?.userName}}
          </a><br>
        </div>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" style="margin-left: 40px">
        <div class="container-row">
          <table class="cart-information" cols="2">
            <tr>
              <td>
                Our price:
              </td>
              <td class="price">
                {{price | currency}}
              </td>
            </tr>
            <tr>
              <td>
                Quantity:
              </td>
              <td align="right" style="width: 70px">
                <mat-form-field appearance="fill" color="accent" style="width: 70px">
                  <input [formControl]="quantityControl" matInput placeholder="quantity" required type="number">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td align="center" colspan="2">
                <hr>
                <button (click)="addToCart()" *ngIf="product?.inStock && userId != product?.ownerId" class="addToCart"
                        color="warn" mat-raised-button>
                  Add to cart
                </button>
                <button *ngIf="!product?.inStock && userId != product?.ownerId" class="addToCart" color="primary"
                        mat-raised-button>Notify me
                </button>
                <button (click)="updateProduct(product?.id ?? '')" *ngIf="userId == product?.ownerId" class="addToCart"
                        color="accent" mat-raised-button>Update product
                </button>
              </td>
            </tr>
          </table>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="characteristicRows">
        <hr style="align-self: flex-start;">
        <div class="container-row characteristics">
          <br>
          <p
            class="{{product?.inStock ? 'inStock' : 'outOfStock'}}">{{product?.inStock ? 'In stock' : 'Out of stock'}}</p>
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="Characteristics">
              <br>
              <li *ngFor="let characteristic of product?.characteristics">
                {{characteristic.name}}: {{characteristic.value}}
              </li>
            </mat-tab>
            <mat-tab label="Description">
              <br>
              <div class="productDescription">
                {{product?.description}}
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
