div.category {
  padding-top: 8px;
  height: 40px;
}

div.product {
  border: solid 1px lightgray;
  border-radius: 10px;
  padding-top: 30px;
}

img.product {
  width: 300px;
  max-height: 300px;
}

table.cart-information {
  width: 200px;
  border-radius: 10px;
}

.my-grid-tile {
  border: solid 1px black;
  height: 50px !important;
}

div.container-row {
  position: absolute;
  left: 0;
}

div.title {
  align-self: flex-start;
}

div.characteristics {
  margin-top: 10px;
  align-self: flex-start;
}

div.description {
  margin-left: 50px;
  border: solid lightgray 1px;
}

hr {
  display: block;
  margin: 10px 20px 10px 0;
  border-top: 1px solid rgba(0, 0, 0, .12);
  width: 100%
}

div.productDescription {
  margin-left: 10px;
  margin-bottom: 20px;
}

div.mat-headline {
  margin-left: 10px;
}

mat-form-field {
  width: 60px;

  select {
    option {
      color: black !important;
    }
  }
}

table {
  border: 1px solid lightgray;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #0000FF;
}

.category-link {
  cursor: pointer;
}

button.addToCart {
  width: 140px;
}

p.name {
  font-size: 24px;
  font-weight: bold;
}

td.price {
  text-align: right;
  padding-right: 42px;
}

:host ::ng-deep .mat-tab-label {
  color: black;
  border-bottom: solid 1px gray;
}

p.inStock {
  color: green;
  font-weight: bold;
  font-size: 18px;
}

p.outOfStock {
  color: red;
  font-weight: bold;
  font-size: 18px;
}
