mat-icon {
  color: lightgray
}

:host ::ng-deep .mat-tab-label {
  color: black;
  border-bottom: solid 1px gray;
}

div.empty {
  text-align: center;
  margin: 120px 0;
}

div.ordered-products {
  max-width: 830px;
}

mat-nav-list.list-horizontal {
  padding: 0px;

  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
    color: black;
  }
}

div.center {
  text-align: center;
  width: 800px;
  padding-top: 60px;
}

::ng-deep mat-dialog-container {
  background: #5D5D5D !important;
}

.product {
  width: 120px;
  max-height: 120px;
}

table.product-info {
  width: 100%;
  margin: 20px 0px;
  padding-right: 500px;
}

.size-18 {
  font-size: 18px;
}

.size-16 {
  font-size: 16px;
}

tr.product-info {
  vertical-align: top;
}

.align-end {
  text-align: end;
}

.bold {
  font-weight: bold;
}

.align-center {
  text-align: center;
}

button.remove {
  background: unset;
  color: green;
}

div.shipping {
  margin-top: 10px;
}

img.shipping {
  border-radius: 5px;
  vertical-align: bottom;
  height: 50px;
  width: 50px;
}

.mat-icon {
  font-size: 100px;
  height: 100px;
  width: 100px;
}

div.summary {
  position: fixed;
  right: 5%;
  top: 20%;

  table {
    padding: 15px 20px 15px 20px;
    width: 400px;
    border: solid 1px lightgray;
    border-radius: 10px;

    tr:first-child td:first-child {
      font-size: 24px;
    }

    td {
      height: 30px;
    }
  }
}

div.list {
  width: 100%;
}

div.delivery {
  padding-top: 30px;
}

div.deliveryBlock {
  border: solid 1px gray;
  border-radius: 10px;
  padding: 0 10px;
}

.delivery-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

div.inline {
  display: inline-block;
  padding-left: 20px;
  width: 320px;
  vertical-align: top;
}

div.inline2 {
  display: inline-block;
  margin-left: 100px;
  font-weight: bold;
}

div.inline3 {
  color: gray;
  display: inline-block;
  margin-left: 20px;
}

mat-radio-button {
  padding: 10px 0;
}

::ng-deep .mat-radio-outer-circle {
  border-color: lightgray;

}

.mat-radio-inner-circle {
  color: red !important;
  background-color: red !important;
}

.mat-divider {
  border-top-color: lightgray;
}

mat-button-toggle.checkout {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  align-items: center;
}
