<div class="container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Cart">
      <div *ngIf="cartList.length; else elseBlock">
        <div class="summary">
          <table>
            <tr>
              <td colspan="2">
                Order Summary
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr style="font-size: 18px;">
              <td>
                Subtotal:
              </td>
              <td style="text-align: end;">
                {{subTotalPrice | currency}}
              </td>
            </tr>
            <tr style="font-size: 16px;">
              <td>
                Shipping:
              </td>
              <td style="text-align: end;">
                {{choosenShipping?.price | currency}}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                {{choosenShipping?.name}}<br>
                Duties & Taxes may be collected at delivery.
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr style="font-size: 18px; font-weight: bold;">
              <td>
                Total:
              </td>
              <td style="text-align: end;">
                {{totalPrice | currency}}
              </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: center;">
                <mat-button-toggle class="checkout" (click)="placeOrder(totalPrice)">Place order</mat-button-toggle>
              </td>
            </tr>
          </table>
        </div>
        <table style="width: 100%; margin: 20px 0px; padding-right: 500px;">
          <tr>
            <td style="width: 50px;">
              Product
            </td>
            <td style="width: 250px;"></td>
            <td>
              Price
            </td>
            <td>
              Qty
            </td>
            <td colspan="2">
              Total
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <mat-divider></mat-divider>
            </td>
          </tr>
          <ng-container *ngFor="let cart of cartList">
            <tr style="vertical-align: top;">
              <td>
                <a [routerLink]="['/products', cart.product?.id]" style="width: 120px;">
                  <img height="120px" src="{{cart.product?.imageUrl}}" width="120px"/>
                </a>
              </td>
              <td>
                <div class="mat-body-2">{{cart.product?.name}}</div>
                <div class="mat-body-2">Weight: {{cart.product?.weight}}kg</div>
                <br><br>
                <button (click)="removeProduct(cart.product?.id)" mat-flat-button
                        style="background: unset; color: green;">Remove
                </button>
              </td>
              <td>
                <div class="mat-caption">{{cart.product?.price | currency}}</div>
              </td>
              <td>
                <div class="mat-caption">{{cart.quantity}}</div>
              </td>
              <td colspan="2">
                <div class="mat-caption">{{(cart.product?.price ?? 0) * cart.quantity | currency}}</div>
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <mat-divider></mat-divider>
              </td>
            </tr>
          </ng-container>
          <tr>
            <td colspan="5">
              <br>
              <button (click)="clearCart()" mat-raised-button>Clear cart</button>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <div class="delivery">
                <div class="mat-headline">
                  Get shipping estimates
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <div class="deliveryBlock">
                <mat-radio-group [(ngModel)]="shippingName" (change)="updateShipping()" class="delivery-radio-group" color="primary">
                  <ng-container *ngFor="let shipping of shippingList">
                    <mat-radio-button [value]="shipping.name">
                      <div>
                        <img height="50px" src="{{shipping.image}}" style="border-radius: 5px; vertical-align: bottom"
                             width="50px">
                        <div class="mat-title inline" style="margin-top: 10px">
                          {{shipping.name}}
                        </div>
                        <div class="mat-subheading-2 inline2" style="margin-top: 10px">
                          {{shipping.price | currency}}
                        </div>
                        <div class="inline3">
                          Estimated Delivery: {{shipping.estimated}}
                        </div>
                      </div>
                    </mat-radio-button>
                  </ng-container>
                </mat-radio-group>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <ng-template #elseBlock>
        <div class="empty">
          <div class="mat-display-1">
            <mat-icon inline="true">shopping_cart</mat-icon>
            <br>
            Your shopping cart is empty
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Buy it again">
      <div *ngIf="false; else elseBlock2">

      </div>
      <ng-template #elseBlock2>
        <div class="empty">
          <div class="mat-display-1">
            <mat-icon inline="true">attach_money</mat-icon>
            <br>
            Previous purchases will be listed here
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
