<div class="container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Cart">
      <div *ngIf="cartList.length; else elseBlock">
        <div class="summary">
          <table>
            <tr>
              <td colspan="2">
                Order Summary
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr class="size-18">
              <td>
                Subtotal:
              </td>
              <td class="align-end">
                {{subTotalPrice | currency}}
              </td>
            </tr>
            <tr class="size-16">
              <td>
                Shipping:
              </td>
              <td class="align-end">
                {{selectedShipping?.price | currency}}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                {{selectedShipping?.name}}<br>
                Duties & Taxes may be collected at delivery.
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr class="size-18 bold">
              <td>
                Total:
              </td>
              <td class="align-end">
                {{totalPrice | currency}}
              </td>
            </tr>
            <tr>
              <td colspan="2" class="align-center">
                <mat-button-toggle class="checkout" (click)="placeOrder()">Place order</mat-button-toggle>
              </td>
            </tr>
          </table>
        </div>
        <table class="product-info">
          <tr>
            <td style="width: 50px;">
              Product
            </td>
            <td style="width: 250px;"></td>
            <td>
              Price
            </td>
            <td>
              Qty
            </td>
            <td colspan="2">
              Total
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <mat-divider></mat-divider>
            </td>
          </tr>
          <ng-container *ngFor="let cart of cartList">
            <tr class="product-info">
              <td>
                <a [routerLink]="['/products', cart.product?.id]" class="product">
                  <img class="product" src="{{cart.product?.imagePath}}"/>
                </a>
              </td>
              <td>
                <div class="mat-body-2">{{cart.product?.name}}</div>
                <div class="mat-body-2">Weight: {{cart.product?.weight}}kg</div>
                <br><br>
                <button (click)="removeProduct(cart.product?.id)" mat-flat-button
                        class="remove">Remove
                </button>
              </td>
              <td>
                <div class="mat-caption">{{cart.product?.price | currency}}</div>
              </td>
              <td>
                <div class="mat-caption">{{cart.quantity}}</div>
              </td>
              <td colspan="2">
                <div class="mat-caption">{{(cart.product?.price ?? 0) * cart.quantity | currency}}</div>
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <mat-divider></mat-divider>
              </td>
            </tr>
          </ng-container>
          <tr>
            <td colspan="5">
              <br>
              <button (click)="clearCart()" mat-raised-button>Clear cart</button>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <div class="delivery">
                <div class="mat-headline">
                  Get shipping estimates
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <div class="deliveryBlock">
                <mat-radio-group [(ngModel)]="shippingName" (change)="updateShipping()" class="delivery-radio-group"
                                 color="primary">
                  <ng-container *ngFor="let shipping of shippingList">
                    <mat-radio-button [value]="shipping.name">
                      <div>
                        <img class="shipping" src="{{shipping.imagePath}}">
                        <div class="mat-title inline shipping">
                          {{shipping.name}}
                        </div>
                        <div class="mat-subheading-2 inline2 shipping">
                          {{shipping.price | currency}}
                        </div>
                        <div class="inline3">
                          Estimated Delivery: {{shipping.estimated}}
                        </div>
                      </div>
                    </mat-radio-button>
                  </ng-container>
                </mat-radio-group>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <ng-template #elseBlock>
        <div class="empty">
          <div class="mat-display-1">
            <mat-icon inline="true">shopping_cart</mat-icon>
            <br>
            Your shopping cart is empty
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Buy it again">
      <div *ngIf="orderedProducts.length; else elseBlock2" style="min-height: 400px">
        <div class="summary">
          <table>
            <tr>
              <td colspan="2">
                Order Summary
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr class="size-18">
              <td>
                Subtotal:
              </td>
              <td style="text-align: end;">
                {{subTotalPrice | currency}}
              </td>
            </tr>
            <tr class="size-16">
              <td>
                Shipping:
              </td>
              <td class="align-end">
                {{selectedShipping?.price | currency}}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                {{selectedShipping?.name}}<br>
                Duties & Taxes may be collected at delivery.
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr class="size-18 bold">
              <td>
                Total:
              </td>
              <td class="align-end">
                {{totalPrice | currency}}
              </td>
            </tr>
            <tr>
              <td colspan="2" class="align-end">
                <mat-button-toggle class="checkout" (click)="placeOrder()">Place order</mat-button-toggle>
              </td>
            </tr>
          </table>
        </div>
        <div class="ordered-products">
          <mat-carousel [autoplay]="false"
                        [hideArrows]="false"
                        [loop]="true" [proportion]=40 [slides]="slidesNumber.length"
                        maxWidth="auto"
                        orientation="ltr">
            <mat-carousel-slide
              *ngFor="let pos of slidesNumber"
              [hideOverlay]="true">
              <div class="center">
                <mat-nav-list class="list-horizontal">
                  <mat-list-item *ngFor="let product of orderedProducts.slice(pos, pos + 4)">
                    <app-product-item [productItem]="product"></app-product-item>
                  </mat-list-item>
                </mat-nav-list>
              </div>
            </mat-carousel-slide>
          </mat-carousel>
        </div>
      </div>
      <ng-template #elseBlock2>
        <div class="empty">
          <div class="mat-display-1">
            <mat-icon inline="true">attach_money</mat-icon>
            <br>
            Previous purchases will be listed here
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
