table.center {
  margin: auto;
}

.footer-dark {
  margin-top: 30px;
  padding: 30px 75px 20px 75px;
  color: #f0f9ff;
  background-color: #282d32;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: white;
}
