<div class="footer-dark">
  <footer>
    <div>
      <div class="flex-container">
        <div>
          <h2>About</h2>
          <div><a routerLink="/">About us</a></div>
          <div><a routerLink="/">Company Info</a></div>
          <div><a routerLink="/">News</a></div>
        </div>
        <div>
          <h2>Customer Service</h2>
          <div><a routerLink="/">Contact us</a></div>
          <div><a routerLink="/">Shipping information</a></div>
          <div><a routerLink="/">Policies</a></div>
        </div>
        <div>
          <h2>Community</h2>
          <div><a routerLink="/">Announcements</a></div>
          <div><a routerLink="/">Discussion boards</a></div>
          <div><a routerLink="/">Seller Information Center</a></div>
        </div>
      </div>
      <div class="mat-caption">Copyright © 2021 eSearch Inc. All Rights Reserved.</div>
    </div>
  </footer>
</div>
