<div class="footer-dark">
  <footer>
    <div>
      <table class="center">
        <tbody>
        <tr>
          <td>
            <ul>
              <li>
                <h2>About</h2>
              </li>
              <li>
                <a href="/">About us</a>
              </li>
              <li>
                <a>Company Info</a>
              </li>
              <li>
                <a>href</a>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <h2>Customer Service</h2>
              </li>
              <li>
                <a>Contact us</a>
              </li>
              <li>
                <a>Shipping information</a>
              </li>
              <li>
                <a>href</a>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <h2>Title</h2>
              </li>
              <li>
                <a>href</a>
              </li>
              <li>
                <a>href</a>
              </li>
              <li>
                <a>href</a>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="mat-caption container">Copyright © 2021 eSearch Inc. All Rights Reserved.</div>
    </div>
  </footer>
</div>
