<footer>
  <div class="container">
    <table align="center">
      <tbody>
        <tr>
          <td>
            <ul>
              <li>
                <h2>About</h2>
              </li>
              <li>
                <a href="/">About us</a>
              </li>
              <li>
                <a>href</a>
              </li>
              <li>
                <a>href</a>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <h2>Title</h2>
              </li>
              <li>
                <a>href</a>
              </li>
              <li>
                <a>href</a>
              </li>
              <li>
                <a>href</a>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <h2>Title</h2>
              </li>
              <li>
                <a>href</a>
              </li>
              <li>
                <a>href</a>
              </li>
              <li>
                <a>href</a>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <h2>Title</h2>
              </li>
              <li>
                <a>href</a>
              </li>
              <li>
                <a>href</a>
              </li>
              <li>
                <a>href</a>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <h2>Title</h2>
              </li>
              <li>
                <a>href</a>
              </li>
              <li>
                <a>href</a>
              </li>
              <li>
                <a>href</a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <a class="logo-font" routerLink="/">conduit</a>
    <span class="attribution">
      An interactive learning project from <a href="https://thinkster.io">Thinkster</a>.
      Code licensed under MIT.
    </span> -->
  </div>
</footer>
