mat-nav-list.list-horizontal {
  padding: 0;

  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
    color: black;
    margin-bottom: 50px;
  }
}

div.center {
  text-align: center;
}

:host ::ng-deep .mat-icon-button.mat-button-disabled.mat-button-disabled {
  color: #C3C3C3;
}

:host ::ng-deep .mat-paginator-outer-container {
  color: black;
  background: white;
}
