<div class="container">
  <ng-container *ngIf="products.length; else productsNotFoundBlock">
    <div class="category">
      {{category ?? 'All categories'}}
    </div>
    <div *ngIf="vendor" class="vendor">
      By {{vendor}}
    </div>
    <div class="sorting">
      <div class="inline">
        <h3><b>Sort By</b></h3>
        <mat-form-field appearance="fill">
          <mat-select [(value)]="columnName">
            <mat-option (click)="sortingChange()" value="Price">
              Price
            </mat-option>
            <mat-option (click)="sortingChange()" value="CreatedDate">
              Arrivals
            </mat-option>
            <mat-option (click)="sortingChange()" value="Orders.Sum(x => x.Quantity)">
              By Selling
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="inline">
        <mat-form-field appearance="fill">
          <mat-select [(value)]="sortBy">
            <mat-option *ngFor="let sort of sortList" (click)="sortingChange()" [value]="sort">
              {{sort}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="center">
      <mat-nav-list class="list-horizontal">
        <mat-list-item *ngFor="let product of products">
          <app-product-item [productItem]="product"></app-product-item>
        </mat-list-item>
      </mat-nav-list>
      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     (page)="getProducts($event.pageIndex)"
                     aria-label="Select page"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </ng-container>
  <ng-template #productsNotFoundBlock>
    <div class="products-not-found">
      <mat-icon class="products-not-found">history</mat-icon>
      <h2>
        We were unable to find any items matching your filters
      </h2>
      <h4>
        Try updating your filters to find a specific product.
      </h4>
    </div>
  </ng-template>
</div>
