<div class="container">
  <div class="account">
    <table class="account-info">
      <tr>
        <td rowspan="2" class="image">
          <mat-icon class="profile">supervised_user_circle</mat-icon>
        </td>
        <td>
          <div class="user-name">
            Hey, {{userName}}!
          </div>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top">
          <div>
            Unread messages: 0
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <mat-divider class="profile"></mat-divider>
        </td>
      </tr>
      <tr *ngIf="userRole == Roles.user" class="center">
        <td class="count" colspan="2">
          <div>
            {{numberOfOrders}}
            <br> All orders
          </div>
        </td>
        <td class="count">
          <div>
            {{pendingOrders}}
            <br> Pending orders
          </div>
        </td>
        <td class="count">
          <div>
            {{confirmedOrders}}
            <br> Confirmed orders
          </div>
        </td>
        <td class="count">
          <div>
            {{cancelledOrders}}
            <br> Cancelled orders
          </div>
        </td>
      </tr>
      <tr *ngIf="userRole == Roles.vendor" class="center">
        <td class="count" colspan="2">
          <div>
            {{pendingOrders + confirmedOrders + cancelledOrders}}
            <br> All products in orders
          </div>
        </td>
        <td class="count">
          <div>
            {{pendingOrders}}
            <br> Pending products in orders
          </div>
        </td>
        <td class="count">
          <div>
            {{confirmedOrders}}
            <br> Confirmed products in orders
          </div>
        </td>
        <td class="count">
          <div>
            {{cancelledOrders}}
            <br> Cancelled products in orders
          </div>
        </td>
      </tr>
    </table>
    <table *ngIf="userRole == Roles.user && order" class="order-info border">
      <tr>
        <td style="width: 200px; padding-left: 15px">
          <div style="font-size: 20px; font-weight: bold">
            Your last order
          </div>
        </td>
        <td style="width: 630px">
          Order number: <a [routerLink]="['/orders', order?.id]">#{{order?.id}}</a>
          | Order Date: <b>{{order?.createdDate | date: 'longDate'}}</b>
        </td>
        <td>
          <div class="{{OrderStatus[order?.status ?? 0]}}">
            {{OrderStatus[order?.status ?? 0]}}
          </div>
        </td>
        <td align="right" style="padding-right: 15px">
          <a [routerLink]="['/orders']">View all</a>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <mat-divider class="order"></mat-divider>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <mat-carousel [autoplay]="false"
                        [hideArrows]="false"
                        [loop]="true" [proportion]=15
                        maxWidth="auto"
                        orientation="ltr">
            <mat-carousel-slide
              *ngFor="let pos of slidesNumber"
              [hideOverlay]="true">
              <div class="center">
                <mat-nav-list class="list-horizontal">
                  <mat-list-item *ngFor="let orderProduct of order?.orderProducts?.slice(pos, pos + 5)">
                    <a [routerLink]="['/products', orderProduct.product?.id]">
                      <img class="product-image" src="{{orderProduct.product?.imagePath}}">
                    </a>
                  </mat-list-item>
                </mat-nav-list>
              </div>
            </mat-carousel-slide>
          </mat-carousel>
        </td>
      </tr>
    </table>
    <div *ngIf="userRole == Roles.vendor" class="products">
      <div class="inline">
        <h2>Your products</h2>
      </div>
      <div class="inline create-product">
        <button mat-flat-button [routerLink]="['product']">Create product</button>
      </div>
      <div class="center border">
        <mat-nav-list class="list-horizontal">
          <mat-list-item *ngFor="let product of products">
            <a [routerLink]="['/products', product.id]">
              <img class="product-image" src="{{product.imagePath}}">
              <h5>{{product.name}}</h5>
            </a>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <mat-paginator [length]="length"
                     [pageSize]="10"
                     (page)="getProducts($event.pageIndex)"
                     aria-label="Select page"
                     [showFirstLastButtons]="true">
      </mat-paginator>
  </div>
</div>
