mat-nav-list.list-horizontal {
  padding: 0;

  .mat-list-item {
    display: inline-block;
    height: auto;
    //max-width: 160px;
    width: auto;
    color: black;
    //padding: 25px;
  }
}

div.account {
  width: 1100px;
  margin: 0 auto;
}

table.account-info {
  background: #F1F1F1;
  margin: 50px auto;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 10px;
}

div.products {
  width: 1100px;
  margin: 40px auto;
}

:host ::ng-deep .mat-icon-button.mat-button-disabled.mat-button-disabled {
  color: #C3C3C3;
}

:host ::ng-deep .mat-paginator-outer-container {
  color: black;
  background: white;
}

div.center {
  text-align: center;
  padding-top: 10px;
}

table.order-info {
  margin: 50px auto;
  width: 1100px;
  padding-top: 20px;
}

.border {
  border: solid 1px lightgray;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: blue;
}

div.Pending {
  font-size: 17px !important;
  color: #0000FF;
  font-weight: bold;
}

div.Cancelled {
  color: red;
  font-weight: bold;
}

div.Confirmed {
  color: green;
  font-weight: bold;
}

div.inline {
  display: inline-block;
  vertical-align: top;
}

div.create-product {
  float: right;
}

img.product-image {
  width: 120px;
  max-height: 120px;
}

td.count {
  vertical-align: top;
  width: 250px
}

td.image {
  width: 100px;
}

tr.center {
  text-align: center!important;
}

mat-divider.profile {
  background: white;
  margin-bottom: 10px
}

mat-divider.order {
  background: lightgray;
  margin: 10px 0
}

div.user-name {
  font-size: 24px;
  font-weight: bold;
}

mat-icon.profile {
  font-size: 100px
}
