<div class="product-item">
  <div class="outerContainer">
    <div class="innerContainer">
      <a [routerLink]="['/products', productItem?.id]">
        <div class="image">
          <img src="{{productItem?.imagePath}}"/>
        </div>
        <div class="mat-body-2 product-name">{{productItem?.name}}</div>
        <div>
          <mat-chip-list>
            <mat-chip color="warn" selected>{{productItem?.price | currency}}</mat-chip>
          </mat-chip-list>
        </div>
      </a>
      <div *ngIf="!userRole || userRole == Roles.user" class="buttons">
        <button *ngIf="productItem?.inStock" color="accent" mat-raised-button class="btn" (click)="addToCart(productItem?.id ?? '')">Add to cart
        </button>
        <button *ngIf="!productItem?.inStock" color="primary" mat-raised-button class="btn">
          Notify me
        </button>
      </div>
    </div>
  </div>
</div>
