<tr>
    <td colspan="1" style="width: 350px;">
        <a [routerLink]="['/product', productItem?.id]" style="width: 120px;">
            <img src="{{productItem?.imageUrl}}" width="120px" height="120px" />
            <div class="mat-body-2">{{productItem?.name}}</div>
        </a>
    </td>
    <td>
        <div class="mat-caption">{{productItem?.price}}</div>
    </td>
    <td>
        <div class="mat-caption">{{productItem?.price}}</div>
    </td>
    <td colspan="2">
        <div class="mat-caption">{{productItem?.price}}</div>
    </td>
</tr>
<tr>
    <td colspan="4">
        <mat-divider></mat-divider>
    </td>
</tr>