<div class="container">
    <div class="mat-display-1">Trending now</div>
    <div>
        <div *ngFor="let product of productList" class="card-container">
            <app-product-item [productItem]="product"></app-product-item>
        </div>
    </div>
    <div class="mat-display-1">Explore Popular Categories</div>
    <div class="center">
    <mat-nav-list class="list-horizontal">
        <mat-list-item *ngFor='let category of categories'>
            <div>
                <img src="{{category.image}}" width="160px" height="160px">
                <h3>{{category.category}}</h3>
            </div>
        </mat-list-item>
    </mat-nav-list>
    </div>
</div>