mat-nav-list.list-horizontal {
    padding: 0;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
      color: black;
    }
  }

  div.center {
    text-align: center;
  }
  
  .card-container{
    display: inline-block;
  }

  .mat-display-1 {
    margin: 25px 0;
  }