mat-nav-list.list-horizontal {
    padding: 0;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
      color: black;
    }
  }

  div.center {
    text-align: center;
  }

  .card-container{
    display: inline-block;
  }

  .mat-display-1 {
    margin: 25px 0;
  }

  .mat-headline {
    font-size: 28px;
    margin: 25px 0 0 0;
  }


  //  ::ng-deep .material-icons{
  //    //color: #26FF2E;
  //    color: green;
  //    border: solid 1px #E3E3E3;
  //    border-radius: 20px;
  //}


