
.mat-divider {
  border-top-color: lightgray;
}

div.orders-not-found {
  text-align: center;
  height: 400px;
  width: 100%;
  margin-top: 100px;
}

mat-icon.orders-history {
  font-size: 100px;
  color: lightgray;
  margin-right: 60px;
}

// <mat-form-field>
:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 .75em 0 .75em !important;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #E7E7E7;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: blue;
}

:host ::ng-deep .mat-select-arrow {
  color: black;
}

table.orderProduct {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  margin: 50px auto;
  width: 1300px;

  td {
    width: 150px;
  }
}

div.order-product-date {
  font-size: 12px;
  color: gray;
}

div.order-userName {
  padding-left: 5px;
  color: gray;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #E7E7E7;
}

:host ::ng-deep .mat-select-value {
  color: rgba(0, 0, 0, .87);
}

::ng-deep .mat-option {
  color: black;
}

::ng-deep .mat-option.mat-active {
  color: black;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: black;
}

::ng-deep .mat-select-panel {
  background: #E7E7E7
}

// </mat-form-field>

a.account {
  text-decoration: none;
  color: blue;
}

table.orders {
  width: 100%;
  padding: 20px 20px 20px 30px;
}

tr.header {
  td {
    color: gray;
  }
}

table.products {
  border: solid 1px lightgray;
  border-radius: 10px;
  margin-bottom: 15px;
}

button.order-button {
  border: solid 1px gray;
  border-radius: 10px;
  width: 200px;
}

::ng-deep button.product-button {
  border: solid 1px gray;
  border-radius: 10px;
  height: 30px;
  line-height: 30px;
}

div.order-button {
  padding-bottom: 10px;
}

div.inline {
  display: inline-block;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-left: 5px;
  color: gray;
}

div.product-inline {

}


div.Pending {
  color: #0000FF;
  font-weight: bold;
}

div.Cancelled {
  color: red;
  font-weight: bold;
}

div.Confirmed {
  color: green;
  font-weight: bold;
}

:host ::ng-deep .mat-icon-button.mat-button-disabled.mat-button-disabled {
  color: #C3C3C3;
}

:host ::ng-deep .mat-paginator-outer-container {
  color: black;
  background: white;
}
