<div class="container" style="padding-left: 50px">
  <table class="orders">
    <tr>
      <td colspan="4" style="border: 0px!important">
        <div>
          <h2 style="margin-bottom: 0px"><b>Orders</b></h2>
          <a class="account" routerLink="/home">My account</a> > Orders
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input matInput>
      </td>
      <td align="right">
        <mat-form-field appearance="fill">
          <mat-select [(value)]="orderStatusFilter">
            <mat-option value="All orders">All orders</mat-option>
            <mat-option *ngFor="let st of status" value="{{st}}">
              {{st}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td align="right" style="width: 250px">
        <mat-form-field appearance="fill">
          <mat-select [(value)]="timeFilter">
            <mat-option value="All time">All time</mat-option>
            <mat-option value="Last 30 Days">Last 30 Days</mat-option>
            <mat-option value="Last 6 Months">Last 6 Months</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <ng-container *ngFor="let order of orders">
    <div class="inline">
      Order #{{order?.id}}
    </div>
    <div class="inline">
      Placed on {{order?.createdDate | date: 'longDate'}}
    </div>
    <div class="inline">
      Total: {{order?.price}} $
    </div>
    <table class="orders products">
      <tr style="border: solid 1px black!important;">
        <td colspan="3" style="vertical-align: top;">
          <div class="{{OrderStatus[order?.status ?? 0]}}">
            <h2>{{OrderStatus[order?.status ?? 0]}}</h2>
          </div>
        </td>
        <td align="right" rowspan="2" style="vertical-align: top;">
          <div class="order-button">
            <button class="order-button" (click)="orderDetails(order?.id)" mat-button>Order Details</button>
          </div>
          <div>
            <button class="order-button" mat-button>Reorder</button>
          </div>
        </td>
      </tr>
      <ng-container *ngFor="let product of order.orderProducts">
        <tr>
          <td rowspan="3" width="120px">
            <img height="90" src="{{product.product.imageUrl}}" width="90">
          </td>
          <td height="30px">
            {{product.product.name}}
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top">
            Qty: {{product.quantity}}
          </td>
        </tr>
        <tr>
          <td style="padding-bottom: 30px!important;">
            <button class="product-button" mat-button>Buy again</button>
          </td>
        </tr>
      </ng-container>
    </table>
    <br><br>
  </ng-container>
</div>
