<mat-toolbar>
  <button class="home" mat-button matSuffix routerLink="/">
    <mat-icon>home</mat-icon>
    <mat-label class="title">eSearch</mat-label>
  </button>
  <div>
    <span *ngFor="let category of categories">
      <span *ngIf="category.subCategories && category.subCategories.length > 0">
        <button [matMenuTriggerFor]="menu.childMenu" mat-button>
          {{category.name}}
          <mat-icon>expand_more</mat-icon>
        </button>
        <app-menu-item #menu [items]="category.subCategories"></app-menu-item>
      </span>
    </span>
  </div>
  <mat-form-field class="search">
    <span matPrefix> </span>
    <input [(ngModel)]="productName" matInput name="search" placeholder="Search for anything" type="tel">
  </mat-form-field>
  <mat-form-field class="filterCategory">
    <mat-select [(ngModel)]="selectedCategory">
      <mat-option *ngFor="let category of filterCategories" value="{{category}}">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="searchProducts()" mat-button matSuffix>
    <mat-icon>search</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <mat-label #loginMenuTrigger="matMenuTrigger" (mouseenter)="menuTrigger()" *ngIf="userAuthenticated"
             [matMenuTriggerFor]="loginMenu" style="font-size: 16px">
    {{userName}}
  </mat-label>
  <button (click)="login()" (mouseenter)="menuTrigger()" *ngIf="!userAuthenticated" disableRipple mat-button>
    Sign In
  </button>
  <button (mouseenter)="menuTrigger()" *ngIf="userAuthenticated" mat-icon-button>
    <mat-icon>supervisor_account</mat-icon>
  </button>
  <button (click)="cartOpen()" *ngIf="!userAuthenticated || userRole == Roles.user" [matBadgeHidden]="hiddenCartBadge"
          [matBadge]="shoppingCartBadge" class="shopping-cart" mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #loginMenu="matMenu">
  <mat-list (mouseleave)="loginMenuTrigger?.closeMenu()" class="profile-info" role="mat-list">
    <mat-list-item *ngIf="userRole != Roles.operator">
      <a mat-flat-button role="listitem" routerLink="/account">My Account</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-flat-button role="listitem" routerLink="/orders">Orders</a>
    </mat-list-item>
    <mat-list-item *ngIf="userRole == Roles.user">
      <a mat-flat-button role="listitem" routerLink="/">My Reviews</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-flat-button role="listitem" routerLink="/">Messages</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <a (click)="logout()" color="accent" mat-raised-button role="listitem" routerLink="/">Sign out</a>
    </mat-list-item>
  </mat-list>
</mat-menu>
